/* CSS File */
/* Hexadecimal Color Code */

body {
  background-color: rgb(150, 176, 188);
}

h2 {
  color: #EBA234;
}

img {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #EB4034;
}

a {
  color: #154BD4;
}