/* CSS File */
/* Attribute Selector */
img[alt] {
  border-radius: 50%;
}

[type="radio"] {
  margin: 8px;
}

input[type="checkbox"] {
  margin: 8px;
}

a[href="https://www.freecodecamp.org/"] {
  color: green;
  text-decoration: none;
  font-weight: bold;
}