/* CSS File */
/* Abbreviate Hexadecimal Codes */

body {
  background-color: rgb(150, 176, 188);
}

div {
  background-color: #0FF;
}

h2 {
  color: #F00;
}

img {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #0F0;
}

a {
  color: #F0F;
}